<header>
<ul class="navbar">
    <li><a href="{{ path('app_home_page') }}">Accueil</a></li>
    <li><a href="{{ path('app_play_page') }}">Jeux</a></li>
    <li><a href="{{ path('app_question_new') }}">Créer une question</a></li>
    <li><a href="{{path('app_category_new')}}">Créer une catégorie</a></li>
</ul>
</header>